<div id="content-extra">
<table style="width: 100%">
    <thead>
        <tr>
            <th colspan="5"><h2>Таблица уже существующих элементов меню</h2></th>
        </tr>
    <tbody>
        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Родитель</td>
            <td>Позиция</td>
            <td>Категория</td>
        </tr>
    {% for el in table %}
        <tr>
            <td>{{ el.id }}</td>
            <td>{{ el.title }}</td>
            <td>{{ el.parent }}</td>
            <td>{{ el.position }}</td>
            <td>{{ el.category }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
